<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoo Management</title>
</head>

<body>
    <!-- Navbar -->
    <%- include('layouts/navbar') %>

        <main>
            <!-- Konten halaman akan ditampilkan di sini -->
            <%- body %>
        </main>
</body>

</html>